body {
  background: linear-gradient(
    180deg,
    #010208 16.39%,
    #010206 20.51%,
    #040008 24.79%,
    #010101 30.46%,
    #010101 34.11%,
    #010101 36.21%,
    #010101 100%
  );
}
/* .main {
  position: relative;
}
.overlay {
  position: absolute; /* Set the position of the overlay */
/* top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
} */

/* .background-div {
  width: 572.95px;
  height: 552.48px;
  top: -272.13px;
  left: -9.96px;
  gap: 0px;
  opacity: 0px;
  background: radial-gradient(
    37.26% 37.26% at 50% 50%,
    rgba(170, 20, 240, 0.31) 0%,
    rgba(170, 20, 240, 0) 100%
  );
  z-index: 2;
}  */
/* .grad {
  background: radial-gradient(
      37.26% 37.26% at 50% 50%,
      rgba(170, 20, 240, 0.31) 0%,
      rgba(170, 20, 240, 0) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
.nav-link {
  color: white !important;
  display: flex;
  justify-content: flex-end;
  margin: 0.8rem 3.5rem 0 0.8rem;
}
.navbar-brand {
  margin-left: 4rem;
  color: white;
  text-decoration: none;
}
.navbar-brand:hover {
  color: white;
}

.navbar-brand {
  font-family: "IM Fell Great Primer SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
}
.signup {
  background: linear-gradient(99.05deg, #bc3cd8 0.07%, #c54b8c 106.32%);
  border-radius: 5px;
  color: white;
}

.home {
  background: linear-gradient(99.05deg, #c824ec 0.07%, #df308d 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading {
  color: white;
  margin: 3rem;
  width: 333px;
  height: 131px;
  top: 135.1px;
  left: 58.38px;
  gap: 0px;
  opacity: 0px;
  font-weight: 900;
  font-family: "Orbitron", sans-serif;
}
.para1 {
  margin: 3.5rem;
  margin-top: 1rem;
  color: white;
  width: 314.41px;
  height: 45px;
  top: 290.22px;
  left: 58.38px;
  gap: 0px;
  opacity: 0px;
  font-family: sans-serif;
  font-size: medium;
  opacity: 0.7;
}

.buttons {
  margin: 3.5rem;
  width: 800px;
  height: 100px;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
}
/* .getit {
  color: white;
  width: 90.07px;
  height: 35.03px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  background: linear-gradient(
    99.99deg,
    #b936f5 -21.45%,
    #c64c85 100%,
    #f1005b 100%
  );
} */

.container {
  margin: 0.1rem;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-left: 3.5rem;
}

.get-it-now {
  background: linear-gradient(
    99.99deg,
    #b936f5 -21.45%,
    #c64c85 100%,
    #f1005b 100%
  );
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.anchor {
  margin-left: 2rem;
  color: white;
  text-decoration: none;
}

.get-it-now {
  background-color: #d95ce9;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.explore {
  text-decoration: none;
  margin-left: 1rem;
  color: white;
}

.people {
  margin: 3rem 0 0 4rem;
  align-items: center;
  display: flex;
  color: white;
  width: 114.56px;
  height: 32px;
  top: 435px;
  left: 58.38px;
  opacity: 0px;
}
.dot {
  display: flex;
  justify-content: flex-start;

  width: 8.34px;
  height: 8.34px;
  top: 447px;
  left: 188.32px;

  opacity: 0px;
  margin: 1rem;
}
.para2 {
  font-weight: 600;
  font-size: 10.01px;
  width: 100px;
  height: 12px;
  top: 445px;
  left: 205px;
  opacity: 0px;
}
.container2 {
  margin: 3.5rem;
  color: white;
  width: 421.01px;
  height: 492px;
  top: 123px;
  left: 398px;
  opacity: 0px;
}
.head {
  font-family: "Orbitron", sans-serif;
}
.para3 {
  font-weight: 100;
}
.custom-line {
  width: 40%;
  font-size: small;
  height: 2px; /* Thickness of the line */
  background-color: white; /* Color of the line */
  margin: 20px 0; /* Space around the line */
}
.box {
  position: absolute;
  left: 800px;
  bottom: 100px;
}
.group {
  margin-left: 4rem;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.group28 {
  position: relative;
  margin-left: 2rem;
  top: 100px;
}

.experience {
  position: relative;
  bottom: 130px;
  left: 750px;
  text-align: center;
}

.heading2 {
  font-weight: 900;
  font-family: "Orbitron", sans-serif;
}
.bar {
  border: 0.69px 0px 0px 0px;
  opacity: 0px;
  position: relative;
  bottom: 100px;
}
.images {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
